<header>
  <nav class="navbar navbar-light" style="background-color: #cc6e6b">
    <div>
      <img src="./assets/Lovely_1.JPG" />
    </div>

    <ul class="nav justify-content-end">
      <div class="nav-link"></div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping"> Shopping Cart</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/administration">Administration</a>
      </li> -->
       <div class="counter">
        <h3>{{ shoppingCounter() }}</h3>
      </div> 
      <li class="nav">
        <i class="fa-solid fa-cart-shopping"></i>
      </li>
      
    </ul>
  </nav>
</header>
