<header>
  <nav class="navbar"  style="background-color: black" >
         <i class="fa-solid fa-bars" (click)="toggleSiderBar()"></i>
      
       <h1>Lovely Clothes </h1>
    <ng-container *ngIf="isHomePage()">
      <app-search-bar></app-search-bar>
    </ng-container>
    <ul class="nav-links">
      <li *ngIf="currentUser()">
        <div class="user-inf">
          <div class="user-greeting">
            <h5></h5>
            <h5>Hello, {{ user?.firtName | titlecase }}  </h5>
          </div>
          <button (click)="signOff()">Log Out</button>
        </div>
      </li>
      <li *ngIf="!currentUser()"><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/home/homeProducts">Products</a></li>
      <li><a routerLink="/shopping"> Shopping Cart</a></li>
     <li *ngIf="isAdmi()"><a  routerLink="/admi">Administration</a>
      </li> 

      <li class="cart-icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </li>
      <div class="counter">
        <h3>{{ shoppingCounter() }}</h3>
      </div>
    </ul>
  </nav>
</header>
