table{
    width: 70%;  
}
h2{
    display: flex;
    justify-content: center;

}
.shopping{
 display: flex;
 justify-content: center;
 align-items: center;
}
table, th, td{
    border: 1px solid black;   
}
.btn-shopping-card{
 display: flex;
 justify-content: center;
 align-items: center;
}