h1{
  margin: 10px;  
  font-size: x-large;
}
.nav-link{
    color: #FAE9E6;
    font-size:large;
}
img{
  width: 120px;
  height: 100px;
  border-radius:20px ;
  margin-left: 15px;
  background-color:rgb(32, 30, 27);
}