.container{
  display: flex;
  justify-content: center;

}

.button_1{
    width: 80px;
    height: 40px ;
    background-color:#cc6e6b ;
    color: #fae9e6;
    font-size: larger;
    border-top-left-radius:50%;
    border-bottom-left-radius: 50%;
}
.button_2{
    width: 80px;
    height: 40px ;
    background-color: #cc6e6b ;
    color: bisque;
    font-size: larger;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
h3{
    font-size: large;
    padding: 5px;

}