<div>
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md-4" *ngFor="let item of filterData">
        <div class="card h-100">
          <img [src]="item.image" img-fluid class="card-img" alt="card-img" />
          <div class="card-body">
            <a routerLink="/home/description/{{ item.id }}"
              ><h5 class="card-title">{{ item.title }}</h5></a
            >
            <!-- <p class="card-text">{{ item.description.length >100 ? (datum.description|slice:0:100)+'...':datum.description }}</p> -->
            <h6 class="card-price">{{ item.price | currency }}</h6>
            <button
              *ngIf="isAuthentication()"
              (click)="addToCar(item)"
              class="btn btn-primary card-button"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
