<body>
  <div class="container">
    <h2>Sign-up</h2>
    <form [formGroup]="myForm">
      <div class="form-input">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" />
      </div>
      <div class="required" *ngIf="myForm.get('name')?.hasError('required')">
        Name is required
      </div>
      <div class="form-input">
        <label for="surtname">Last Name</label>
        <input type="text" formControlName="surtname" id="surtname"/>
      </div>
      <div class="required" *ngIf="myForm.get('surtname')?.hasError('required')">
        Surtname is required
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="email" formControlName="password" id="password" />
      </div>
      <div class="required" *ngIf="myForm.get('password')?.hasError('required')">
        Password is required
      </div>
      <div class="required" *ngIf="myForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters
      </div>
      <div class="form-input">
        <label for="region">Continent</label>
        <select formControlName="region">
          <option value="">--Select Continent--</option>
          <option *ngFor="let region of regions" [value]="region">
            {{ region }}
          </option>
        </select>
      </div>

      <div class="form-input" *ngIf="countriesByRegion.length > 0">
        <label for="country">Country</label>
        <select formControlName="country">
          <option value="">--Select Country--</option>
          <option
            *ngFor="let country of countriesByRegion"
            [value]="country.cca3"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
       <!-- <div class="form-input">
        <label for="currency">Currency</label>
        <select formControlName="currency">
          <option value="">--currency--</option>
           <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{country.cca3}}</option> 
        </select>
      </div>  -->
      <div>
        <button>Send</button>
      </div>
      
    </form>
  </div>
</body>
