body {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(235, 62, 62, 0.2);
  padding: 20px;
  width: 1000px;
  height: 600px;
  
}
 .container_body{
    display: flex;
} 
h3 {
  color: blue;
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif
  
}
img {
  width: 400px;
  height: 400px;
  padding: 25px ;
}
.container_description{
  justify-content: center;
  align-items: center;
}
h4{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cc6e6b;
    padding: 10 px;
}
p{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5 px;
}
span{
  color: #a52a2a; 
  padding: 20% 5%;
  font-size: larger;
}
.button{
  display: flex;
  justify-content: center;
}
button{
  background-color: #6f3247;
  color:#fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

