 <app-header></app-header> 
 <app-sider-bar>
    <div class="Category">
    <h5>Category</h5>
    <ul>
        <li>
            <a  (click)="chooseCategory('men\'s clothing', $event)">men's clothing</a>
        </li>
        <li>
            <a  (click)="chooseCategory('jewelery', $event)">jewelery</a>
        </li>
        <li>
            <a  (click)="chooseCategory('electronics', $event)">electronics</a>
        </li>
        <li>
            <a  (click)="chooseCategory('women\'s clothing', $event)">women's clothing</a>
        </li>
    </ul>
</div>
 </app-sider-bar>
<router-outlet></router-outlet>
 <app-footer></app-footer> 