table {
  width: 70%;
}
h2 {
  display: flex;
  justify-content: center;
}
.shopping {
  display: flex;
  justify-content: center;
  align-items: center;
}
table,
th,
td {
  border: 1px solid black;
}
.btn-shopping-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  display: flex;
  justify-content: center;
  color: brown;
  padding: 10px;
  font-size: xx-large;
}

button{
  background-color:#cc6e6b;
  border:none ;
  border-radius: 3px;
  padding: 10px 20px;
  cursor:pointer;
}
