footer {
  background-color: hsl(341, 84%, 57%);
  height: 10rem;
  display: flex;
  justify-content: center;
}
.footer-container {
  margin: 0 auto;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
i {
  color: whitesmoke;
  font-size: xx-large;
  padding: 10px;
}
p {
    color: #fae9e6;
    font-size: large; 
    padding-top: 60px; 
}
